$bg: #0c0c0c;
$bg-lightened: #1d1d1d;
$bg-darkened: #080808;
$fg: #eee;
$primary: #55cf55;

/// General Styling \\\
body {
	background-color: $bg;
	color: $fg;
	font-family: "Fira Code", monospace;
	margin: 0;
}

a {
	color: $primary;
	text-decoration: none;
}

.left { text-align: left }
.center { text-align: center }
.right { text-align: right }

/// Form elements \\\
input[type=text], input[type=password], input[type=submit] {
	background-color: black;
	color: $fg;
	border: 1px solid $fg;
	padding: 5px;

	&:hover {
		background-color: $bg;
	}

	&:focus {
		background-color: $bg-lightened;
	}
}

/// Header & Footer \\\

header, footer {
	background-color: $bg-darkened;
	padding: 15px 0;
}

header {
	.navbar {
		max-width: 1000px;
		margin: auto;
		padding: 0 50px;

		.title {
			font-size: 24pt;
			font-weight: bold;

		}

		.links {
			font-size: 20pt;
			float: right;
		}
	}
}

.container {
	max-width: 1280px;
	margin: 20px auto;
	padding: 0 20px;
	min-height: calc(100vh - 190px);
}

footer {
	max-height: 50px;
	min-height: 50px;
	line-height: 1.4;
	text-align: center;
}

/// Login/Register box \\\

.loginbox {
	background-color: $bg-darkened;
	padding: 20px;
	margin: 20px auto;
	width: 350px;
}

.error {
	color: #ff0000;
}

/// Music list \\\

div.music-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	gap: 10px 5px;

	.music {
		color: $fg;

		height: 160px;
		width: 160px;
		overflow: hidden;
		display: inline-block;
		margin: 5px 5px;

		border: 1px solid $fg;

		h2 {
			text-align: center;
			font-size: 18pt;
		}

		p {
			margin: 0 10px;
		}

		&:hover {
			background-color: $bg-darkened;
		}
	}
}
