{% extends "_layout.twig" %}

{% block title %}Home{% endblock %}

	{% block content %}
<h2>music-web home</h2>
lol yeah not much to do here yet

{% if log %}
	<p>hi {{ userdata.name }}</p>
{% endif %}

<div class="music-list">
	{% for song in all_songs %}{{ track(song) }}{% endfor %}
</div>
<br>
	{% endblock %}
